<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" routerLink="/home">FEETVideoGames</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Inicio</a>
                   
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/videojuegos">videojuegos</a>
                   
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/about">Acerca de</a>
                    
                </li>
                <br>
    
                <li class="nav-item">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar videojuego"
                    aria-label="Search" (keyup.enter)="buscarVideojuego(buscarTexto.value)" #buscarTexto>
                </li>
                <br>
                <li class="nav-item ">
                    <button (click)="buscarVideojuego(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0"
                            type="button">Buscar</button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="container">
                    <div class="row">
                        <div class="col align-self-start"> <input class="form-control mr-sm-2" type="search"
                                placeholder="Buscar videojuego" aria-label="Search"></div>
                                <br> 
                        <div class="col align-self-end">
                            <button class="btn btn-outline-success my-2 my-sm-0"
                                type="submit">Buscar</button></div>
                    </div>
                </div>
            </form>
        </div>
    
    
    </nav>