<h1>Los mejores videojuegos en <small> FET Videojuegos</small></h1>
<hr>

<div class="card-columns">
<div class="card animated fadeIn fast" *ngFor="let videojuego od videojuegos; let i= index">
    <img src="card-img-top" [src]="videojuego.img" [alt]="videojuego.nombre">
    <div class="card-body">
        <h4 class="card-title">{{ videojuego.nombre}}</h4>
        <p class="card-text">{{videojuego.descripcion}} </p>
        <p class="card-text"><small class="text-muted">{{videojuego.lanzamiento}}</small> </p>
        <p class="card-text"><small class="text-muted">{{ videojuego.consola}}</small> </p>

        <button (click)="verVideojuego(i)" type="button" class=" btn btn-outline-primary btn-block">
            Ver mas...

        </button>

    </div>
</div>

</div>